<div class="container-sm">
    <div class="row mt-4">
        <div class="card col-sm-3">
            <img src="<%= gravatar_url(@group.user, { size: 80 }) %>" class="mr-2" alt="">
            <div class="card-body">
                <h4><%= @group.user.name %></h4>
                <%= render "group_users/participate_button", group: @group %>
            </div>
        </div>
        
        <div class="offset-sm-1 col-sm-8" style="background-color: #eee">
            <h4 class="text-center my-2">グループの情報一覧</h4>
            <div class="row bg-white mx-1 my-2">
                <p class="offset-sm-1 my-1">グループ名：<%= @group.name %></p>
            </div>
            <div class="row bg-white mx-1 my-2">
                <p class="col-sm-4 offset-sm-1 my-1">開催日：<%= @group.schedule %></p>
                <p class="col-sm-4 offset-sm-1 my-1">場所：<%= @group.place %></p>
            </div>
            <div class="row bg-white mx-1 my-2">
                <p class="col-sm-4 offset-sm-1 my-1">ゲームの名前：<%= @group.title %></p>
                <p class="col-sm-4 offset-sm-1 my-1">ゲームの種類：<%= @group.category %></p>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-sm-3" style="background-color: #eee">
            <div class="text-center mt-2">
                <h5 class="text-center">参加者一覧</h5>
            </div>
            <%= render "group_users/participate_users", group: @group %>
        </div>
        
        <div class="offset-sm-1 col-sm-8" style="background-color: #eee">
            <h5 class="text-center my-2">グループチャット欄</h5>
            <div class="container bg-white py-2">
                <%= render "messages/group_talk", group: @group %>
            </div>
            
            <div class="container my-2">
                <%= form_with(model: [@group, @message], method: :post, local: true) do |f| %>
                    <% if message.errors.any? %>
                        <div id="error_explanation">
                            <ul>
                                <% message.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <%= f.text_area :content, class: "form-control", rows: 2 %>
                    <%= f.hidden_field :group_id, value: @group.id %>
                    <div class="text-right mt-1">
                        <%= f.submit "コメントする", class: "btn btn-sm btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>